extend ../blocks/layout-admin.pug
block main
  main
    section.main-page__publication.publication
      h1.publication__title Комментарии
      ul.publication__list
        each comment in comments
          li.publication__list-item
            .publication__header
              img(src="/img/avatar-1.png" width="20" height="20" alt="Аватар пользователя").publication__list-image
              b(publication__list-name) #{comment.title}
              time.publication__item-time(datetime=comment.createDate) #{comment.createDate}
            a.publication__item-text(href="#") #{comment.announce}
            p.publication__text-strong #{comment.announce}
            button.publication__button.button.button--close-item(type="button")
              span.visually-hidden Закрыть строку списка
